* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: #1b1d1b;
	color: #fff;
	min-height: 100vh;
	font-family: sans-serif;
	font-size: 18px;
}
a {
    color: fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
   }
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height: 108px;
	background: #1b1d1b;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;

}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}
nav {
    position: absolute;
    right: 36px;
    display: block;
    top: 50px;
}

.section-menu {
    position: relative;
    margin-top: 110px;
    margin-bottom: 10px;
}
.header-menu {
    text-align: center;
}
.kalyan-button {
    border: 2px solid #ff0000;
background-color: transparent;
padding: 10px 20px;

}
.line {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}
.page span {
    font-size: 12px;
}
.price2 {
    text-align: right;
}

.dops {
    text-align: center;
}
.dops div {
    width: 50%;
}
.dops div p {
    font-size: 14px;
}
.size {
    position: relative;
    font-size: 16px;
    line-height: 0;
    text-align: right;
    padding-bottom: 5px
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #1b1d1b;
    color: white;
    width: 98%;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #ff0000;
    cursor: pointer;
    margin: 5px 10px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }
  
  
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content{
    display: none;
    position: relative;
    background-color: #1b1d1b;
    min-width: 160px;
    width: 100%;
    
    margin: 0 20px;
    
  }
  .dropdown-content li {
    border: 2px solid #ff0000;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 10px;
    text-align: left;
    line-height: 15px;
  }
  .nap {
    border: none;
    width: 100%;
    margin: 0 ;
    padding: 10px;
    text-align: left;
    line-height: 15px;
  }
  
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}
@media(max-width: 1000px){
nav {
	display: block;
	position: absolute;
    top: 75px;
    left: 0;
    
    width: 100%;
    transition: all 0.4s ease;
	left:-110%;
}
.dropdown-content li {
    
    width: 95%;
}
ul {
	display: block;
}
nav.open-menu{
    left:0;
}
ul li {
	margin: 40px 0px 40px 33px;
    font-size: 14px;
	}
.menu-burger__header {
	position: absolute;
    width: 40px;
    height: 35px;
    display: block;
    right: 10px;
    top: 25px;
   }
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #fff;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

header {
	height: 75px;
}

.fixed-pade {
    overflow: hidden;
}
.colomns {
    column-count: 1;
}

}
@media(max-width: 996px){
    .dropbtn {
        
        width: 97%;
    }
    .dropdown-content li {
    
        width: 90%;
    }
}
@media(max-width: 672px){
    .dropbtn {
        
        width: 96%;
    }
}
@media(max-width: 576px){
    .dropbtn {
        
        width: 94%;
    }
}