* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: #1b1d1b;
	color: #fff;
	min-height: 100vh;
	font-family: sans-serif;
	font-size: 18px;
}
a {
    color: fff;
    text-decoration: none;
    font-weight: 600;
   }
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height: 108px;
	background: #1b1d1b;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;

}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}
nav {
    position: absolute;
    right: 36px;
    display: block;
    top: 50px;
}
ul {
    display: flex;
	position: relative;
	z-index: 2;
}
ul li {
	list-style: none;
	margin: 0px 0px 0px 36px;
	font-size: 16px;
	text-decoration: none;
}
.section-menu {
    position: relative;
    margin-top: 110px;
}
.header-menu {
    text-align: center;
}
.kalyan-button {
    border: 2px solid #ff0000;
background-color: transparent;
padding: 10px 20px;
}

.colomns {
    column-count: 2;
    margin: 2%;
}
.page {
    break-inside: avoid;
    border: 1px solid #ff0000;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 20px;
}
.page h2 {
    font-size: 32px;
    margin: 0;
    
}
.line {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}
.page span {
    font-size: 12px;
}
.price2 {
    text-align: right;
}
h3 {
    font-size: 16px;
}
.dops {
    text-align: center;
}
.dops div {
    width: 50%;
}
.dops div p {
    font-size: 14px;
}
.size {
    position: relative;
    padding-bottom: 5px;
    text-align: right;
}
@media(max-width: 1000px){
nav {
	display: block;
	position: absolute;
    top: 75px;
    left: 0;
    
    width: 100%;
    transition: all 0.4s ease;
	left:-110%;
}
ul {
	display: block;
}
nav.open-menu{
    left:0;
}
ul li {
	margin: 40px 0px 40px 33px;
    font-size: 14px;
	}
.menu-burger__header {
	position: absolute;
    width: 40px;
    height: 35px;
    display: block;
    right: 10px;
    top: 25px;
   }
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #fff;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

header {
	height: 75px;
}

.fixed-pade {
    overflow: hidden;
}
.colomns {
    column-count: 1;
}

}
